.bnt {
     letter-spacing: 4px;
}

.left-4 {
     left: -49rem;
}

@media screen and (max-width: 330px) {
     .bnt {
          padding-left: 1rem;
     }

     .text-4xl {
          font-size: 2.10rem;
     }
}